// Bootstrap
@import "~bootstrap/scss/bootstrap-grid";
@import "~@fortawesome/fontawesome-pro/css/brands.min";
@import "~@fortawesome/fontawesome-pro/css/light.min";
@import "~@fortawesome/fontawesome-pro/css/regular.min";
@import "~@fortawesome/fontawesome-pro/css/solid.min";
@import "~@fortawesome/fontawesome-pro/css/thin.min";
@import "~@fortawesome/fontawesome-pro/css/fontawesome.min";

// Files
@import 'design-tokens/colors';
@import 'design-tokens/fonts';
@import 'design-tokens/typo';
@import 'settings/reset';
@import 'settings/base';
@import 'components/buttons';
@import 'components/navigation-sitemap';
@import 'elements/header';
@import 'elements/footer';
@import 'elements/main';