$colors: (
	// ------------------------------------------------
	// Main Colors
	// ------------------------------------------------
	// ------------------------------------------------
	// Black - Grey - White
	// ------------------------------------------------
	black: #000000,
	white: #FFFFFF,
	// ------------------------------------------------
	// Status Colors
	// ------------------------------------------------
	danger: #F14B4B,
	success: #4DDE5B,
	warning: #FFC634,
	// ------------------------------------------------
	// Other Additional Colors
	// ------------------------------------------------
)