// ------------------------------------------------
// Main Colors
// ------------------------------------------------
// ------------------------------------------------
// Black - Grey - White
// ------------------------------------------------
$white: #FFFFFF;
$black: #000000;
// ------------------------------------------------
// Status Colors
// ------------------------------------------------
$success: #4DDE5B;
$danger: #F14B4B;
$warning: #FFC634;
// ------------------------------------------------
// Other Additional Colors
// ------------------------------------------------